:root {
    --background-color-dark: rgb(18, 18, 18);
    --background-color-light1: rgb(50, 50, 50);
    --background-color-light2: rgb(80, 80, 80);
    --background-color-light: rgba(255, 255, 255, 0.9);

    --accent-color: rgba(255, 59, 92, 1);
}