@use "../globals";

//
//  When it is small screen
//

@media (max-width: 800px) {
  .sm-display-none {
    display: none !important;
  }
}

@mixin small-display($element) {
  @media (max-width: 800px) {
    .sm-display-none {
      display: none !important;
    }
    #{$element} {
      @content;
    }
  }
}

// @include small-display('a'){
//   color: red;
// }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-center {
  display: flex;
  align-items: center;
}

%a-link-hover {
  color: var(--text-color-light);
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--background-color-light2);
  }
}

%verified-tag {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    height: 20px;
    aspect-ratio: 1/1;
    // background-color: #fff;
    background-image: url("../picture/verified-badge.svg");
    background-position: center center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }
}

%a_hashtag_or_tag {
  a {
    color: var(--text-color-light);
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  .a-hashtag {
    &::before {
      content: "#";
      margin-right: 2px;
    }
  }
  .a-tag {
    &::before {
      content: "@";
      margin-right: 2px;
    }
  }
  .a-song {
    &::before {
      content: "\1F3B5";
      margin-right: 2px;
      font-size: 12px;
    }
  }
}

nav {
  width: 100%;
  position: fixed;
  background-color: var(--background-color-dark);
  border-bottom: 1px solid var(--background-color-light2);
  z-index: 1000;

  .nav-item-container {
    width: 100%;
    max-width: 1150px;
    padding-right: 24px;
    padding-left: 20px;
    margin-inline: auto;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    font-weight: 600;

    > div {
      @extend %flex-center;
      position: relative;
      // background-color: green;
    }

    .center-container {
      form {
        width: 100%;
        @extend %flex-center;

        input {
          padding: 12px 16px;
          background-color: var(--background-color-light1);
          color: var(--text-color-light);
          border: none;
          font-size: 16px;
          line-height: 22px;

          border-radius: 30px 0 0 30px;
          width: 252px;

          &:focus {
            outline: none;
          }
        }

        button {
          cursor: pointer;
          border-radius: 0 30px 30px 0;
          border: none;
          border-left: 2px solid var(--background-color-light2) !important;

          background-color: var(--background-color-light1);
          color: var(--text-color-light);
          padding: 10px 16px 10px 12px;

          svg {
            font-size: 16px;
          }

          &:hover {
            background-color: var(--background-color-light2);
          }
        }

        @media (max-width: 800px) {
          display: none;
        }
      }
    }

    .right-container {
      // background-color: red;
      justify-content: right;
      gap: 1.5rem;
      width: 100%;

      > div {
        position: relative;
        // background-color: red;
        height: 100%;
        @extend %flex-center;
        justify-content: center;

        &:nth-child(1) {
          background-color: var(--background-color-light2);
          // min-width: 110px;
          padding: 0 16px;
          height: 36px;
          @extend %flex-center;
          border: 1px solid rgba(30, 30, 32, 0.12);
          border-radius: 2px;
          transition: background-color 0.25s ease;

          &:hover {
            background-color: var(--background-color-light1);
          }
        }

        a {
          color: var(--text-color-light);
          text-decoration: none;
          font-size: 16px;

          div {
            @extend %flex-center;
            // height: 100px;
          }
        }

        .tiktok-qeydvm-StyledPlusIcon {
          width: 20px;
          margin-right: 0.5rem;
        }

        .tiktok-1g0p6jv-StyledInboxIcon {
          font-size: 33px;
        }

        svg {
          font-size: 23px;
        }

        .hover-label {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transform: translate(-50%, 0%);
          padding: 0.3rem 0.8rem;
          background-color: var(--hover-item-bg-dark);
          color: var(--background-color);
          left: 50%;
          bottom: -50px;
          border-radius: 5px;
          transition: opacity 0.1s 0.15s ease;
        }

        &:hover {
          .hover-label {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .profile-icon {
        // height: 50px;
        border-radius: 50%;
        // background-color: var(--background-color-light2);

        img {
          aspect-ratio: 1/1;
          width: 32px;
        }

        &:focus,
        &:focus-within,
        .profile-menu:hover {
          .profile-menu {
            visibility: visible;
          }
        }
      }

      .profile-menu {
        visibility: hidden;
        position: absolute;
        top: 90%;
        right: 0;
        display: flex;
        flex-direction: column;
        width: max-content;
        border-radius: 8px;
        margin: 0.5rem 0;
        background-color: var(--hover-item-bg-dark);
        overflow: hidden;

        .profile-menu-upper,
        .profile-menu-down {
          width: 100%;

          ul {
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
              list-style: none;

              a {
                display: inline-block;
                padding: 0.8rem 1rem;
                width: 100%;
                border-radius: 5px;
                @extend %a-link-hover;

                svg {
                  width: 20px;
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }

        .profile-menu-upper {
          border-bottom: 1px solid var(--background-color-light2);
        }
      }
    }
  }
}

// NAV styled done !!

.hero {
  width: 100%;
  max-width: 1150px;
  padding-right: 24px;
  padding-left: 20px;
  margin-inline: auto;
  height: 100vh;
  padding-top: 60px;
  display: flex;

  .side-menu-bar {
    // position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    height: calc(100vh - 60px);
    // background-color: red;
    overflow-y: auto;
    max-width: 356px;

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--background-color-light1);
      }
    }

    section {
      height: fit-content;
      padding: 0 0 0.85rem 0;
      border-bottom: 1px solid var(--background-color-light2);

      &:nth-child(1) {
        ul li a {
          padding: 0.8rem 0.8rem;
          color: var(--text-color-light);
        }
      }

      .side-menu-titles {
        margin-bottom: 0.5rem;
      }

      #discover {
        flex-direction: row;
        flex-wrap: wrap;

        li {
          a {
            font-size: 12px;
            width: fit-content !important;
            padding: 0.2rem 0.3rem !important;
            margin: 0.2rem !important;
            border-radius: 10px;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;

        li {
          list-style: none;

          @include small-display(a) {
            width: max-content !important;
            border-radius: 5px;
            padding: 0.35rem !important;
          }

          a {
            display: inline-block;
            padding: 0.35rem 1rem;
            width: 100%;
            color: var(--text-color-dark);
            @extend %a-link-hover;

            div {
              @extend %flex-center;
              gap: 1rem;

              svg {
                // margin-right: 0.5rem;
                height: 23px;
              }

              .profile-image {
                height: 30px;
                aspect-ratio: 1/1;
                border-radius: 50%;

                &[data-story="true"] {
                  outline: solid 2px var(--accent-color);
                }
              }
              > div {
                @extend %flex-center;
                flex-direction: column;
                gap: 0;
                align-items: flex-start !important;

                h3 {
                  position: relative;
                  font-size: 14px;
                  color: var(--text-color-light) !important;

                  &.verified {
                    @extend %verified-tag;
                  }
                }
                h5 {
                  margin-top: 0.25rem;
                  font-size: 12px;
                  font-weight: 400;
                }
              }
            }
          }
          .active {
            color: var(--accent-color) !important;
          }
        }
      }

      span.see-more {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 12px;

        a {
          color: var(--accent-color);
        }
      }
    }

    footer {
      section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        ul {
          flex-direction: row !important;
          flex-wrap: wrap;
          column-gap: 0.4rem;
          margin: 0 !important;

          li {
            a {
              padding: 0 !important;
              width: fit-content;
              font-size: 12px;
              color: var(--text-color-dark) !important;

              &:hover {
                background-color: transparent !important;
                text-decoration: underline;
              }
            }
          }
        }
      }

      #copyright-signature {
        font-size: 12px;
        color: var(--text-color-dark);
      }
    }
  }
}

main {
  overflow-y: scroll;
  // background-color: rebeccapurple;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .video-container {
    // background-color: rgb(56, 9, 104);
    width: 100%;
    max-width: 650px;
    display: flex;
    padding: 2rem 0 1rem 0;
    // margin-inline: auto;
    border-bottom: 1px solid var(--background-color-light1);
    justify-content: space-between;

    .video-container-left {
      display: flex;
      gap: 0.5rem;

      .video-dp {
        height: 50px;
        aspect-ratio: 1/1;
        background-image: url("../picture/dp.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        transform: translateY(-10px);
        // border: 1px solid var(--text-color-light);
      }
      > div {
        .video-tittle {
          display: flex;
          // column-gap: 1.5rem;

          h3 {
            position: relative;
            margin-right: 0.1rem;
            &.verified {
              margin-right: 1.2rem !important;
              @extend %verified-tag;
            }
          }
          p {
            font-size: 14px;
          }
        }
        .video-description_tags {
          width: 90%;
          margin-block: 0.5rem;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;

          p {
            color: var(--text-color-dark);
          }
          span {
            @extend %a_hashtag_or_tag;
          }
        }
      }

      .video__side_btns {
        margin-block: 1rem;
        display: flex;
        column-gap: 1rem;

        video {
          height: calc(450px + (100vw - 768px) / 1152 * 100);
          border-radius: 15px;
        }

        .side_btns {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: flex-end;
          // background-color: red;

          .btn_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50px;
            cursor: pointer;

            .btn {
              // padding: 0.3rem;
              display: grid;
              place-content: center;
              border-radius: 50%;
              width: 100%;
              aspect-ratio: 1/1;
              background-color: var(--background-color-light2);
              transition: background-color 0.2s ease;

              &:hover {
                background-color: var(--background-color-light1);
              }
              svg {
                width: 30px;
                aspect-ratio: 1/1;
              }
            }

            .like_btn {
              color: var(--text-color-light);
              transition: color 0.52s ease;
              &.active {
                color: var(--accent-color);
              }
            }

            .count {
              margin-top: 0.3rem;
              font-size: 14px;
              color: var(--text-color-dark);
            }
          }
        }
      }
    }

    .video-follow-btn {
      a {
        text-decoration: none;
        padding: 0.4rem 0.8rem;
        color: var(--accent-color);
        background-color: var(--background-color-light2);
        border: 1px solid var(--accent-color);
        border-radius: 6px;
        align-self: flex-end;
      }
    }
  }
}
